#main{
    border:1px solid #aaa;
    width:400px;
    height: 300px


}
#output{
    width:150px;
    border:1px solid #aaa;

}
button{
    background-color: #5af;
    border:none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;


}